.latest-products {

  position: relative;

  padding-top: 50px;
  padding-bottom: 50px;

  @include md {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  // @include lg {
  //   padding-top: 180px;
  //   padding-bottom: 140px;
  // }

  ._js_latestproducts {
    overflow: hidden;
  }

  .swiper-wrapper {

    // width: 1024px;
    // margin: 0 auto;
    // overflow-x: hidden;

  }

  .swiper-slide {

    a {
      color: #000;

      &:hover {

        color: $color__primary;

      }

    }

    &__thumbnail_wrap {

      position: relative;

      .in_use_image {
        background: #fff;
        height: calc(100% - 15px);
        overflow: hidden;
        opacity: 0;
        width: 100%;
        transition: .5s;
        position: absolute;
        border: 1px solid #d3d3d3;
        top: 0;
        left: 0;
      }

      &:hover {
        .in_use_image {
          opacity: 1;
        }
      }

      svg {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        z-index: 9999;
        height: 60px;
        transition: .5s;

        path {

          fill: #fff;

        }

      }

      &:hover {

        // &:after {
        //
        //   z-index: 1;
        //   position: absolute;
        //   width: 100%;
        //   height: calc(100% - 15px);
        //   content: "";
        //   background: rgba(0, 0, 0, .5);
        //   left: 0;
        //   top: 0;
        //
        //
        // }

        svg {
          opacity: 1;
        }


      }





    }

  }


  .swiper-button-next {

    display: none;
    color: #fff;
    background: url(images/latest-products__next.svg) no-repeat;

    width: 45px;
    height: 45px;

    transition: .5s;

    @include md {
      display: block;
    }

    @include xl {
      right: -70px;
    }

    @include xxl {
      width: 175px;
      height: 45px;
      right: -200px;

    }

    &:after {
      display: none;
    }


    &:hover {

      background: url(images/latest-products__next_hover.svg) no-repeat;

    }


  }

  .swiper-button-prev {
    display: none;
    color: #fff;
    background: url(images/latest-products__prev.svg) right no-repeat;
    transition: .5s;

    width: 45px;
    height: 45px;

    @include md {
      display: block;
    }

    @include xl {
      left: -70px;
    }

    @include xxl {

      width: 175px;
      height: 45px;
      left: -200px;


    }

    &:after {
      display: none;
    }

    &:hover {

      background: url(images/latest-products__prev_hover.svg) no-repeat;

    }


  }

  h2 {
    text-align: center;
    font-weight: 600;
    color: #000;
    font-size: 2.5em;
    margin-bottom: 20px;
    position: relative;

    &:after {
      display: block;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
      background: $color__primary;
      width: 45px;
      height: 5px;
			margin-top: 15px;
      content: "";
    }

  }

  p {
    text-align: center;
    margin: 0 auto;
    width: 75%;
    font-weight: 600;
  }



  img {

    border: 1px #b0b0b0 solid;
    margin-bottom: 15px;

  }

  h3 {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 10px;
    color: $color__secondary;
  }

  p {
    font-size: 14px;
  }

  span.woocommerce-Price-amount {
    display: block;
    color: $color__primary;
    font-size: 22px;
    font-weight: 600;
    text-align: left;
  }

}
