.section-brands {

  background: $color__secondary;
  padding: 50px 0;
  color: #fff;
  text-align: center;
  font-weight: 500;

  h2 {
    text-align: center;
    font-weight: 600;
    color: #fff;
    font-size: 2.5em;
    margin-bottom: 75px;
    position: relative;

    &:after {
      display: block;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
      background: $color__primary;
      width: 45px;
      height: 5px;
      margin-top: 15px;
      content: "";
    }

  }

  img {
    margin-bottom: 30px;
  }

  p {
    font-size: .9em;
    padding: 0 25px;
  }

  a {

    color: $color__primary;
    font-weight: 500;
    display: block;

    &:hover {
      color: #fff;
    }

  }

}
