.social-row {

  background: #000;

  &__item {

    border-right: 1px solid $color__primary;
    text-align: center;

    color: #fff;
    padding: 25px 0;

    @include lg {
      padding: 50px 0;
    }

    a {
      display: block;
      margin-bottom: 15px;
    }

    svg {

      height: 22px;

      path {
        fill: $color__primary;
      }

    }

    @include lg {
      flex: 0 0 20% !important;
      max-width: 20% !important;
    }

    &:last-of-type {

      border-right: 0;

    }

  }

}
